[project]
	description = Scripts for seting up a development server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bukodi lászló (bukodi)
[access "refs/for/refs/*"]
	read = group user/Bukodi lászló (bukodi)
	push = group user/Bukodi lászló (bukodi)
	label-Code-Review = -2..+2 group user/Bukodi lászló (bukodi)
	label-Verified = -1..+1 group user/Bukodi lászló (bukodi)
	rebase = group user/Bukodi lászló (bukodi)
	removeReviewer = group user/Bukodi lászló (bukodi)
	submit = group user/Bukodi lászló (bukodi)
[access "refs/heads/*"]
	read = group user/Bukodi lászló (bukodi)
	create = group user/Bukodi lászló (bukodi)
	push = +force group user/Bukodi lászló (bukodi)
	pushMerge = group user/Bukodi lászló (bukodi)
[access "refs/tags/*"]
	push = +force group user/Bukodi lászló (bukodi)
	pushTag = group user/Bukodi lászló (bukodi)
	pushSignedTag = group user/Bukodi lászló (bukodi)
